@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-BaixoParaCima{
    animation: BaixoParaCima 0.5s ease-in-out forwards ;
}


@keyframes BaixoParaCima{
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(0);
    }
}