@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-BaixoParaCima {
  animation: BaixoParaCima 0.8s ease-in-out forwards;
}

@keyframes BaixoParaCima {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
